<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>"</key>
	<string>&amp;quot;</string>
	<key>&amp;</key>
	<string>&amp;amp;</string>
	<key>&lt;</key>
	<string>&amp;lt;</string>
	<key>&gt;</key>
	<string>&amp;gt;</string>
	<key>`</key>
	<string>&amp;grave;</string>
	<key> </key>
	<string>&amp;nbsp;</string>
	<key>¡</key>
	<string>&amp;iexcl;</string>
	<key>¢</key>
	<string>&amp;cent;</string>
	<key>£</key>
	<string>&amp;pound;</string>
	<key>¥</key>
	<string>&amp;yen;</string>
	<key>§</key>
	<string>&amp;sect;</string>
	<key>©</key>
	<string>&amp;copy;</string>
	<key>ª</key>
	<string>&amp;ordf;</string>
	<key>«</key>
	<string>&amp;laquo;</string>
	<key>®</key>
	<string>&amp;reg;</string>
	<key>°</key>
	<string>&amp;deg;</string>
	<key>´</key>
	<string>&amp;acute;</string>
	<key>µ</key>
	<string>&amp;micro;</string>
	<key>¶</key>
	<string>&amp;para;</string>
	<key>»</key>
	<string>&amp;raquo;</string>
	<key>¿</key>
	<string>&amp;iquest;</string>
	<key>À</key>
	<string>&amp;Agrave;</string>
	<key>Á</key>
	<string>&amp;Aacute;</string>
	<key>Â</key>
	<string>&amp;Acirc;</string>
	<key>Ã</key>
	<string>&amp;Atilde;</string>
	<key>Ä</key>
	<string>&amp;Auml;</string>
	<key>Å</key>
	<string>&amp;Aring;</string>
	<key>Æ</key>
	<string>&amp;AElig;</string>
	<key>Ç</key>
	<string>&amp;Ccedil;</string>
	<key>È</key>
	<string>&amp;Egrave;</string>
	<key>É</key>
	<string>&amp;eacute;</string>
	<key>Ê</key>
	<string>&amp;Ecirc;</string>
	<key>Ë</key>
	<string>&amp;Euml;</string>
	<key>Ñ</key>
	<string>&amp;Ntilde;</string>
	<key>Ò</key>
	<string>&amp;Ograve;</string>
	<key>Ó</key>
	<string>&amp;Oacute;</string>
	<key>Ô</key>
	<string>&amp;Ocirc;</string>
	<key>Õ</key>
	<string>&amp;Otilde;</string>
	<key>Ö</key>
	<string>&amp;Ouml;</string>
	<key>×</key>
	<string>&amp;times;</string>
	<key>Ø</key>
	<string>&amp;Oslash;</string>
	<key>Ü</key>
	<string>&amp;Uuml;</string>
	<key>ß</key>
	<string>&amp;szlig;</string>
	<key>à</key>
	<string>&amp;agrave;</string>
	<key>á</key>
	<string>&amp;aacute;</string>
	<key>â</key>
	<string>&amp;acirc;</string>
	<key>ã</key>
	<string>&amp;atilde;</string>
	<key>ä</key>
	<string>&amp;auml;</string>
	<key>å</key>
	<string>&amp;aring;</string>
	<key>æ</key>
	<string>&amp;aelig;</string>
	<key>ç</key>
	<string>&amp;ccedil;</string>
	<key>è</key>
	<string>&amp;egrave;</string>
	<key>é</key>
	<string>&amp;eacute;</string>
	<key>ê</key>
	<string>&amp;ecirc;</string>
	<key>ë</key>
	<string>&amp;euml;</string>
	<key>ñ</key>
	<string>&amp;ntilde;</string>
	<key>ò</key>
	<string>&amp;ograve;</string>
	<key>ó</key>
	<string>&amp;oacute;</string>
	<key>ô</key>
	<string>&amp;ocirc;</string>
	<key>õ</key>
	<string>&amp;otilde;</string>
	<key>ö</key>
	<string>&amp;ouml;</string>
	<key>ø</key>
	<string>&amp;oslash;</string>
	<key>ü</key>
	<string>&amp;uuml;</string>
	<key>Œ</key>
	<string>&amp;oelig;</string>
	<key>œ</key>
	<string>&amp;Oelig;</string>
	<key>“</key>
	<string>&amp;ldquo;</string>
	<key>”</key>
	<string>&amp;rdquo;</string>
	<key>„</key>
	<string>&amp;bdquo;</string>
	<key>†</key>
	<string>&amp;dagger;</string>
	<key>•</key>
	<string>&amp;bull;</string>
	<key>…</key>
	<string>&amp;hellip;</string>
	<key>‰</key>
	<string>&amp;permil;</string>
	<key>€</key>
	<string>&amp;euro;</string>
	<key>™</key>
	<string>&amp;trade;</string>
</dict>
</plist>
